@import "../../custom.scss";

.image {
    height: 300px;
    object-fit: cover;
}

.sub-card {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%);
}

.list-item {
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .sub-card {
        position: static;
        transform: none;
    }
}