@import "../../custom.scss";

.business-contact {
    min-height: 80vh;
}

.business-contact-form {
    max-width: 500px;
    width: 100%;
}

.business-contact-image-container {
    padding: 0;
    & > img {
        height: 100%;
        object-fit: cover;
    }
}