@import "../custom.scss";

.option-box {
    width: 200px;
    height: 200px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delivery-address {
    row-gap: 20px;
    margin-bottom: 5rem;
}

.billing-address-checkbox:checked {
    background-color: map-get($theme-colors, 'primary' );
    border: none;
}

.billing-address-checkbox-label {
    font-size: 18px;
}

.user-card-form {
    max-width: 800px;
    width: 100%;
}

.card-input {
    border-color: map-get($theme-colors, 'black' ) !important;
}

.card-input-label {
    position: absolute;
    left: 15px;
    bottom: 25px;
    padding: 0 10px;
    background-color: white;
}