@import "../custom.scss";

.login-banner {
  max-height: 400px !important;
  object-fit: cover;
}

.login-form-container {
  max-width: 800px;
  width: 100%;
  
}



.show-hide-btn {
  position: absolute;
  top: 5px !important;
  right: 10px;
  background-color: #ffffff !important;
  padding: 8px 15px !important;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }
}