@import "../custom.scss";

.pricing-page-header {
    min-height: 40vh;
    background: url('https://img.freepik.com/premium-vector/vintage-hand-drawn-clocks-watches-time-vector-seamless-pattern-illustration-clock-drawing-time-seamless-pattern_53562-5882.jpg?w=740') center no-repeat;
    background-size: cover;
}